.colour {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 3.4vw; 
    font-style: italic;
       
  }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #83ecc9;  /*Sets the text hover color on navbar*/
    }
    
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
     a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: rgb(175, 82, 82); /*BACKGROUND color for active*/
    background-color:teal;
    }
    
      .navbar-default {
        background-color: #0f006f;
        border-color: #030033;
    }
    
      .dropdown-menu > li > a:hover,
       .dropdown-menu > li > a:focus {
        color: #262626;
       text-decoration: none;
      background-color: #66CCFF;  /*change color of links in drop down here*/
       }
    
     .nav > li > a:hover,
     .nav > li > a:focus {
        text-decoration: none;
        background-color: rgb(23, 137, 172); /*Change rollover cell color here*/
      }
    
    
      .navbar-default .navbar-nav > li > a {
       color: white; /*Change active text color here*/
        }
        
        
        .navbar-default { /* change the header background color*/
          background-color:teal;
          background-image: none;
          background-repeat: no-repeat;
         }
.navbar-brand{
  color:white;
  font-weight: bold;
}