<div class="container">
    <ul class="list-group">
        <li *ngFor="let blogviewModel of blogs" class="list-group-item row">
            <span class="glyphicon glyphicon-hand-right"></span>
            <a href="#"> {{blogviewModel.blogTitle}} </a>
            <a href="#2">| By:Pritam Rakshit</a>
            <span class="badge">
                <span class="glyphicon glyphicon-thumbs-up"></span> 12|
                <span class="glyphicon glyphicon-comment"></span> 12|10-Oct-2017</span>
        </li>
    </ul>
</div>