<!--The content below is only a placeholder and can be replaced.-->
    
<div class="container">        
    
<article class="lead text-justify">
<p class="colour text-center">
Welcome to NetraSoft
</p>
<p>
NetraSoft is a Free Technology Hub where you can find many problem solution in the form of software micro components,Architectural solutions,code snippets,steps to solve and blogs etc.
We invite Knowledgeable people from all spectrum of domain to contribute and showcase their talent here and get renound with us.
</p>
<p> 
Speciallity of this platform are the upgrowing core components which can come handy in development and learning and fpor refereneces
This version of the example uses Webpack to bundle the angular 2 modules together and perform other build tasks, the structure is based on the Angular 2 Webpack Introduction on the Angular 2 docs site.

The Webpack Dev Server is used as the local web server for this version.

Install NodeJS (> v4) and NPM (> v3) from https://nodejs.org/en/download/, you can check the versions you have installed by running node -v and npm -v from the command line.

Download the project source code from https://github.com/cornflourblue/angular2-registration-login-example-webpack

Install all required npm packages by running npm install from the command line in the project root folder (where the package.json is located).

Start the application by running npm start from the command line in the project root folder.

Browse to http://localhost:8080 to test your application.

Note: To run a production build that outputs optimized files into the "/dist" folder run npm run build from the command line in the project root folder. To test the production build you can run a simple node http server from the "/dist" folder, for instructions on how to do this go to NodeJS - Setup a Simple HTTP Server / Local Web Server.


Angular 2/4 Project Structure
I used the Angular 2 quickstart project as a base for the application
</p>
</article>
<div class="alert alert-primary" role="alert">
<h6>FIM Engine:</h6>
<p>You can a lot to explore the free forming FIM</p>
</div>
<div class="alert alert-secondary" role="alert">
<h6>Log Collector Engine:</h6>
<p>Muti-platform log collector Agent available</p>
</div>
<div class="alert alert-success" role="alert">
<h6>Dash Board of Analytics:</h6>
<p>Simple dash board to view analytical reports</p>
</div>
<div class="alert alert-info" role="alert">
<h6>Avail your own server to collect the logs:</h6>
<p>Avail your own server to collect the logs:</p>
</div>
</div>




